* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* messing around with fonts check index other fonts */
    font-weight: 700; /*added line */
}

.home,
.fixtures,
.results,
.table,
.stats,
.clubs,
.highlights,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.fixtures {
    background-image: url(assets/images/img-1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.results {
    background-image: url(assets/images/img-2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.table {
    background-image: url(assets/images/img-3.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.stats {
    background-image: url(assets/images/img-4.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.clubs {
    background-image: url(assets/images/img-5.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.highlights {
    background-image: url(assets/images/img-6.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 80px;
}

.sign-up {
    background-image: url(assets/images/img-8.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}